* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.navbar-container {
  color: #fff;
  background-color: #5995da; /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/*app container styling*/
.app-container {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  height: 80%;
}

/*task container styling*/
.task-container {
  border: 1px solid #fff;
  flex: 3;
  margin-left: 2%;
}

.editor-root {
  flex: 2;
  margin-left: 2%;
  height: 100%;
  margin: 50px auto;
  padding: 10px;
  font-size: 18px;
}

.DraftEditor-root {
  border: 2px solid #ddd;
  background-color: #fefefe;

  cursor: text;
  font-size: 16;
  min-height: 80%;
  padding: 10;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
