* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.left.menu {
  margin-left: 2% !important;
}

.right.menu {
  margin-right: 2% !important;
}

/*app container styling*/
.app-container {
  border: 1px solid #fff;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/*task container styling*/
.task-container {
  border: 1px solid #fff;
  flex: 1;
  min-width: 360px;
  margin-left: 2%;
}

.editor-root {
  flex: 1;
  border: 1px solid #ddd;
  height: 100%;
  min-width: 350px;
  font-family: "Georgia", serif;
  font-size: 18px;
  padding: 10px;
}

.ui.container.editor-root {
  margin: 0 2% !important;
}

.ui.container.task-container {
  margin-left: 2% !important;
}

.editor {
  border-top: 1px solid #ddd;
  background-color: #fefefe;
  margin-top: 10px;
  cursor: text;
  min-height: 90%;
  /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
}

.editor .public-DraftEditorPlaceholder-root,
.editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.editor .public-DraftEditor-content {
  min-height: 100px;
  max-height: 450px;
  overflow: auto;
}

.editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}
.editor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.editor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.editor-activeButton {
  color: #5890ff;
}

.journals-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.journal-item {
  border: 1px solid black;
  width: 200px;
  height: 100px;
  margin: 7px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-journal {
  height: 80%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
}
